<% let title = 'Safe Site - Register' %>

<html>
    <%- include('../components/head.ejs', { title }) %>

    <body class="subpage">
        <%- include('../components/navbar.ejs') %>

        <div id="main" class="container">
            <div class="row 200%">
                <div class="float-right 6u 12u$(small)">
                    <%- include('../components/register-form.ejs') %>
                </div>
                <div class="float-right 6u 12u$(small)">
                    <%- include('../components/description.ejs') %>
                </div>
            </div>
        </div>
        <%- include('../components/footer.ejs') %>
    </body>
</html>
